*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	text-size-adjust: 100%;
	font-family: '"1"';
	font-size: 62.5%;
}
body {
	color: #404040;
	position: relative;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1em;
}
main {
	display: block;
}
embed,
img,
object,
video {
	max-width: 100%;
}
svg {
	overflow: hidden;
}
embed,
object {
	height: 100%;
}
audio,
canvas,
video {
	display: inline-block;
}
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #404040;
}
b,
strong {
	font-weight: bold;
}
mark {
	color: #404040;
	background: yellow;
}
canvas {
	-ms-touch-action: double-tap-zoom;
}
iframe {
	border: 0;
	margin-bottom: 4rem;
}
figure {
	padding: 4rem;
	position: relative;
	text-align: center;
	margin-bottom: 4rem;
	img {
		margin-bottom: 4rem;
	}
	figcaption {
		color: #737373;
		font-style: italic;
		line-height: 1.7em;
	}
}
img {
	display: inline-block;
}
sub,
sup {
	font-size: .7em;
	line-height: 0;
	margin-left: .2em;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -.25em;
}
sup {
	top: -1em;
}
::-moz-selection {
	background: #349bb9;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #349bb9;
	color: #fff;
	text-shadow: none;
}





/*------------------------------------*\
	# Typography
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 2rem;
	small {
		font-weight: normal;
	}
}
h1 {
	font-size: 3.6rem;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 2rem;
	small {
		font-weight: normal;
	}
}
h2 {
	font-size: 3.2rem;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 2rem;
	small {
		font-weight: normal;
	}
}
h3 {
	font-size: 2.8rem;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 2rem;
	small {
		font-weight: normal;
	}
}
h4 {
	font-size: 2.4rem;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 2rem;
	small {
		font-weight: normal;
	}
}
h5 {
	font-size: 2rem;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 2rem;
	small {
		font-weight: normal;
	}
}
h6 {
	font-size: 1.6rem;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 2rem;
	small {
		font-weight: normal;
	}
}
p {
	color: #404040;
	font-weight: normal;
	line-height: 1.7em;
	margin-bottom: 2rem;
}
small {
	font-size: 0.8em;
}
dfn,
em,
i,
var {
	font-style: italic;
}
blockquote,
q {
	color: #404040;
	font-family: Georgia, Times, serif;
	font-size: 2rem;
	font-weight: normal;
	line-height: 1.4em;
	font-style: italic;
	cite {
		color: #a6a6a6;
		margin-top: 1.4rem;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.8rem;
		font-weight: normal;
		line-height: 1.2em;
		font-style: normal;
		&:before {
			content: '\2014\00a0';
		}
	}
	p {
		color: #404040;
	}
}
blockquote {
	padding: 1em 2em;
	margin-bottom: 4rem;
	cite {
		display: block;
	}
}
del,
s,
strike {
	text-decoration: line-through;
}
a {
	color: #349bb9;
	text-decoration: none;
	&:focus {
		outline: thin dotted;
	}
	&:hover {
		color: #297a91;
		text-decoration: none;
	}
	&:active {
		color: #1e5869;
	}
	img {
		border: 0;
	}
}
hr {
	border: 0;
	display: block;
	height: 1px;
	border-top: 1px solid #bfbfbf;
	margin-top: 4rem;
	margin-bottom: 4rem;
}
address {
	color: #404040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1.7em;
	font-style: normal;
	margin-bottom: 4rem;
}





/*------------------------------------*\
	# Lists
\*------------------------------------*/

dl,
ol,
ul {
	color: #404040;
	list-style-position: inside;
	line-height: 1.7em;
	margin-bottom: 2rem;
	li {
		margin-bottom: 0.2rem;
	}
}
ol,
ul {
	margin-left: false;
	ol,
	ul {
		margin-bottom: 0;
		margin-left: 2rem;
	}
}
ul {
	list-style-type: disc;
	ul {
		list-style-type: circle;
		ul {
			list-style-type: square;
		}
	}
}
ol {
	list-style-type: decimal;
}
nav {
	ol,
	ul {
		list-style: none;
		margin: 0;
		li {
			margin-bottom: 0;
		}
	}
}
dl {
	margin-bottom: 4rem;
}
dt {
	color: #595959;
	margin-bottom: 0.2rem;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 2rem;
}
dd {
	color: #a6a6a6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	margin-bottom: 1rem;
}